.DS_Store
node_modules
/dist

package-lock.json
/temp
/public/static/md2html/*.html
#baseUrl.js
public/static/_libs
public/static/libs

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
