package-lock=false
registry=https://registry.npm.taobao.org/
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
phantomjs_cdnurl=http://cnpmjs.org/downloads
//localhost:4873/:_authToken="FfOzDgYz6crFpi9PWZFtFg=="
//168.168.168.220:4873/:_authToken="SGRfJFnSoV0xyNROXKlhVg=="
//203.6.237.211:4873/:_authToken="CVQms+wnDBIDX1KcpFijGg=="
